	<div class="member-legend">
		<div class="clearfix">
			Legend: 
			<ul>
				<li class="list">
					<a nopopover="true" class="fa fa-user role-owner member-role-icon " title="Owner" href="javascript:;"></a> Owner
				</li>
				<li class="list">
					<a nopopover="true" class="fa fa-user role-projectadmin member-role-icon " title="Project Admin" href="javascript:;"></a> Project Admin
				</li>
				<li class="list">
					<a nopopover="true" class="fa fa-user role-boardadmin member-role-icon " title="Board Admin" href="javascript:;"></a> Board Admin
				</li>
				<li class="list">
					<a nopopover="true" class="fa fa-user role-boardmember member-role-icon " title="Board Member" href="javascript:;"></a> Board Member
				</li>
			</ul>
		</div>
	</div>